body{
	background: url(../images/joinus2.jpg);
	text-align: center;
	background-size: cover;
	font-family: sans-serif;
	font-style: italic;
	color: black;
}
p{
	font-size: 20px;
	font-family: sans-serif;
	font-style: italic;
	
}